/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
    background-color: rgba(37, 170, 225, 0.4); /* Blue w/ opacity */
}

.modal-content {
    display: block;
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    width: 90%;
}

@media (min-width: 576px) {
    .modal-content {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .modal-content {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .modal-content {
        width: 60%;
        max-height: 70%;
    }
}

@media (min-width: 1200px) {
    .modal-content {
        width: 60%;
        max-height: 70%;
    }
}

.modal-photo {
    float: left;
    width: 40%;
}

.modal-body{
    float: right;
    width: 60%;
    padding: 0;
}

.modal-body-text {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 3rem;
}

.modal-body-text h3 {
    text-align: center;
    font-family: 'Clicker Script', cursive;
    font-size: 3rem;
    font-weight: 400;
}

/* The Close Button */
.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 0;
    margin-left: auto;
}
.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-close-container {
    padding-right: 0.75rem;
}