.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 0;
    height: initial;
}

header .logo {
    max-width: 10%;
}

header .container {
    margin-top: 0;
    margin-bottom: 0;
}

.content-section {
    padding-top: 2rem;
}