.masthead {
    color: white;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: #212121;
}

.masthead-button {
    background-color: #feb74e;
    border-color: #feb74e;
    color: black;
}

.masthead-button:hover, .masthead-button:focus, .masthead-button:active {
    background-color: #f17d32;
    border-color: #f17d32;
    color: black;
}

.masthead-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem black;
}

header .logo {
    width: 40%;
    /*border-radius: 50%;*/
}

header h3 {
    font-family: 'Clicker Script', cursive;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 100;
}

.portfolio-item:hover .caption {
    background-color: rgba(241, 125, 50, 0.6);
}

@media (max-width: 992px) {
    .key-info {
        margin-bottom: 3em;
    }
}

.key-info-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
}

.testimonial-text {
    text-align: center;
    width: 100%;
}

section.contact {
    text-align: center;
}

section.contact h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

section.contact h2 i {
    color: #dd4b39;
}

section.contact ul.list-social {
    margin-bottom: 0;
}

section.contact ul.list-social li a {
    display: block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 100%;
    color: white;
}

section.contact ul.list-social li.social-twitter a {
    background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
    background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
    background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
    background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
    background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
    background-color: #d73925;
}

section.contact .fa {
    margin-top: 18px;
}

section.disclaimer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer {
    background-color: #222222;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 1.5rem 15px;
}

footer .text {
    color: #656565;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 19px;
}

footer a {
    color: #656565;
}

/* OTHER STUFF*/
.align-right{
    margin-left: auto;
    margin-right: 0;
}

.vertically-align-contents {
    display: flex;
    align-items: center;
}

.center-text{
    text-align: center;
}

.bg-red {
    background-color: #dd4b39;
}
.bg-red:hover {
    background-color: #d73925;
}
.bg-blue {
    background-color: #005dff;
}
.bg-blue:hover {
    background-color: #0000ff;
}

.bg-light-blue {
    background-color: #25aae154;
}
.bg-green{
    background-color: #008A00;
}
.bg-green:hover {
    background-color: #006E00;
}
.bg-orange {
    background-color: #feb74e;
}

.bg-black {
    background-color: black;
}

.bg-black:hover {
    background-color: #393939;
}

@media (min-width: 992px) {
    .phone-link {
        display: none !important;
        visibility: hidden;
    }
}

.list-inline {
    margin-bottom: 0;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.font-red {
    color: red;
}

.font-cursive {
    font-family: 'Clicker Script', cursive;
    font-weight: 400;
}